body{
	background-color: #bbb;
	font-family: cursive;
}
#big-container{
	width: 20%;
	border: 3px solid black;
	background-color: #ffff00;
}
#blue{
	width: 100px;
	height: 100px;
	box-sizing: border-box;
	border: 1px solid black;
	background-color: #0ff;
}