/** Estilos header**/
a.nav-links:hover{
    text-decoration: underline;
    color: #47476b;
}
.hero{
    text-align: center;
    color: #223;
    text-transform: uppercase; 
}
#main-title{
  
}

/** Styles de el main region **/
.tiles{
    display: inline-block;
    margin: 50px auto;
}
.individual-tiles{
    display: flex;
    border: 1px solid #223;
    border-radius: 5px;
    box-shadow: 1px 1px 15px 2px #223;
    overflow: hidden;
}
.individual-tiles:hover{
    border: 2px solid #b87830;
    box-shadow: 1px 1px 30px 5px #223;
}
a{
    text-decoration: none;
    color: #779;
}
a .titulo{
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-size: 1.9em;
    padding: 5px;
}
/** Estilos footer**/

.wrapper-footer{
    border: 1px solid blue;
    padding: 7px;
    background-color: #223;
    color: white;
    font-family: 'Roboto Slab', sans-serif;
    height: 300px;
}
.centered-content{
    text-align: center;
}
