/** Estilos header**/
a.nav-links:hover{
    text-decoration: underline;
    color: #47476b;
}
.hero{
    text-align: center;
    color: #223;
    text-transform: uppercase; 
}
#main-title{
    letter-spacing: 1.22px;
}
h3{
    margin: 2px;
}

/** Styles de el main region **/
.tiles{
    display: inline-block;
    display: flex;
    flex-wrap: wrap;
    margin: 50px auto;

}
.individual-tiles{
    display: flex;
    border: 1px solid #223;
    border-radius: 5px;
    box-shadow: 1px 1px 15px 2px #223;
    overflow: hidden;
    margin: 10px 18px;
    flex-shrink: 0;
}
#tristeza #quejas{
    margin-left: 0;
}
.individual-tiles:hover{
    border: 1px solid #b7eb0f;
    box-shadow: 1px 1px 30px 5px #223;
}
a{
    text-decoration: none;
    color: #779;
}
a .titulo{
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-size: 1.9em;
    padding: 5px;
}
/** Estilos footer**/

.wrapper-footer{
    border: 1px solid blue;
    padding: 7px;
    background-color: #223;
    color: white;
    font-family: 'Roboto Slab', sans-serif;
    height: 300px;
}
.centered-content{
    text-align: center;
}
/**Estilos repsosive**/
@media(max-width: 377px){
    .individual-tiles{
        width: 96%;
        margin: 12px auto;
    }
    a .titulo{
        padding: 2px;
    }
    .individual-tiles a img{
        height: 150px;
        width: 100%;
    }
    .individual-tiles:active{
        border: 1px solid #b7eb0f;
        box-shadow: 1px 1px 30px 5px #223;  
    }
}
@media(min-width: 377px) and (max-width: 453px){
    .individual-tiles{
        width: 96%;
        margin: 14px auto;
    }
    .individual-tiles a img{
        height: 180px;
        width: 100%;
    }
}
@media(min-width: 453px) and (max-width: 681px){
    .tiles{
        margin:20px auto;
    }
    .individual-tiles{
        width: 48%;
        margin: 14px auto;
    }
    .individual-tiles a img{
        height: 130px;
        width: 100%;
    }
    a .titulo{
        font-size: 1.3675em;
    }
    .tiles > #victoria{
        margin-left: 5px;
    }
}
@media(min-width: 681px) and (max-width: 741px){
    .tiles{
        margin:20px auto;
    }
    .individual-tiles{
        width: 45%;
        margin: 12px auto;
    }
    .individual-tiles a img{
        height: 140px;
        width: 100%;
    }
    a .titulo{
        font-size: 1.695em;
    }
    .tiles > #victoria{
        margin-left: 16px;
    }
}
@media(min-width: 741px) and (max-width: 862px){
    .individual-tiles{
        width: 45%;
        margin: 12px auto;
    }
    .individual-tiles a img{
       height: 147px;
       width: 100%;
   }
   .tiles > #victoria{
    margin-left: 16px;
}
}
@media(min-width: 862px) and (max-width: 951px){
 .individual-tiles{
     width: 32%;
     margin: 12px auto;
 }
 .individual-tiles a img{
     height: 129px;
     width: 100%;
 }
 .individual-tiles .titulo{
     font-size: 1.77em;
 }
  #quejas, #victoria{
     margin: 12px 4.87px;
 }
}